<div class="navbar bg-dark">

  <h1 class="text-white-50">Stefan's smart room!</h1>
</div>

<div class="container">

  <br>

  <div class="row">
    <div class="col col-6 col-sm-12">
      <h3>Inputs from room:</h3>
      <table class="table">
        <tr>
          <th>Temperature:</th>
          <td>{{temp}}°</td>
        </tr>
        <tr>
          <th>humidity:</th>
          <td>{{humid}}%</td>
        </tr>
      </table>
    </div>
    <div class="col col-6 col-sm-12">
      <h3>Actions:</h3>
      <button [ngClass]="{'bg-dark': heater == true, 'text-white': heater == true}" (click)="clickHeaterOn()">Turn heater on</button>
      &nbsp;<button [ngClass]="{'bg-dark': heater == false, 'text-white': heater == false}" (click)="clickHeaterOff()">Turn heater off</button>
    </div>
  </div>

</div>
