<mat-toolbar>
  <h1>Smartroom</h1>
</mat-toolbar>

<app-temperature-graph></app-temperature-graph>
<div>

  <br>

  <div>
    <div>
      <h3>Inputs from room:</h3>
      <table>
        <tr>
          <th>Temperature:</th>
          <td>{{temp}}°</td>
        </tr>
        <tr>
          <th>humidity:</th>
          <td>{{humid}}%</td>
        </tr>
      </table>
    </div>
    <div>
      <h3>Actions:</h3>
      <mat-slide-toggle>Heater</mat-slide-toggle>
      <button (click)="clickHeaterOn()">Turn heater on</button>
      &nbsp;<button (click)="clickHeaterOff()">Turn heater off</button>
    </div>
  </div>

</div>
