<mat-toolbar color="primary">
  <h1>Smartroom</h1>
</mat-toolbar>

<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
    <mat-card>
      <mat-card-title>Inputs from room</mat-card-title>
      <mat-card-content>
        <mat-grid-list cols="2" rowHeight="200px" class="room-data">
          <mat-grid-tile>
            <ngx-gauge
              [value]="temp"
              label="Temperature"
              type="arch"
              max="40"
              append="C°"
              [thresholds]="temperatureThresholds"></ngx-gauge>
          </mat-grid-tile>
          <mat-grid-tile>
            <ngx-gauge
              [value]="humid"
              label="Humidity"
              type="arch"
              max="100"
              append="%"></ngx-gauge>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-title>Actions</mat-card-title>
      <mat-card-content>
        <mat-slide-toggle [checked]="heater" (toggleChange)="handleToggleChange()">Turn heater {{this.heater ? 'off': 'on'}}</mat-slide-toggle>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
