<div class="row">
  <div class="panel col s12 m12 l6">
    <div class="card-panel">
      <h2>Inputs from room</h2>
      <div class="row">
        <div class="col s12">
          <app-temperature-gauge></app-temperature-gauge>
          <app-humidity-gauge></app-humidity-gauge>
        </div>
      </div>
    </div>
  </div>
  <div class="panel col s12 m12 l6">
    <div class="card-panel">
      <h2>Actions</h2>
      <app-heater-input></app-heater-input>
      <app-automation-list></app-automation-list>
    </div>
  </div>
  <div class="panel col s12 m12 l6">
    <div class="card-panel">
      <h2>Graphs</h2>
      <app-temperature-graph></app-temperature-graph>
    </div>
  </div>

</div>
