<mat-grid-list [cols]="cols" [rowHeight]="rowHeight" (window:resize)="onResize($event)">
  <mat-grid-tile [rowspan]="rowspan">
    <mat-card>
      <mat-card-title>Inputs from room</mat-card-title>
      <mat-card-content>
        <mat-grid-list [cols]="cols" [rowHeight]="rowHeight" class="room-data">

          <mat-grid-tile>
            <app-temperature-gauge></app-temperature-gauge>
          </mat-grid-tile>

          <mat-grid-tile>
            <app-humidity-gauge></app-humidity-gauge>
          </mat-grid-tile>

        </mat-grid-list>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-title>Actions</mat-card-title>
      <mat-card-content>
        <app-heater-input></app-heater-input>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
